<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MainServer" value="ds"/>
    <add key="MainDatabase" value="drugman"/>
    <add key="MainServerLogin" value="svn"/>
    <add key="TestServer" value="temp-sql1"/>
    <add key="testDatabase" value="drugman1"/>
    <add key="TestServerLogin" value="svn"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>