<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MainServer" value=".\SQLEXPRESS"/>
    <add key="MainDatabase" value="Northwind"/>
    <add key="MainServerLogin" value="sa"/>
    <add key="TestServer" value=".\SQLEXPRESS"/>
    <add key="testDatabase" value="Northwind"/>
    <add key="TestServerLogin" value="sa"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>