<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MainServer" value="main"/>
    <add key="MainDatabase" value="maindb"/>
    <add key="TestServer" value="test"/>
    <add key="testDatabase" value="testdb"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>